@model GerenciadorDeEmpresaWEB.Models.EmpresaViewModel

@{
    ViewData["Title"] = "Excluir Empresa";
}

<h2>@ViewData["Title"]</h2>

<div class="card mt-4">
    <div class="card-header">
        <h4>Confirmar Exclusão</h4>
    </div>
    <div class="card-body">
        <h3>Tem certeza que deseja excluir a empresa: <strong>@Model.NomeFantasia</strong>?</h3>
        <p><strong>Razão Social:</strong> @Model.RazaoSocial</p>
        <p><strong>CNPJ:</strong> @Model.CNPJ</p>
        <p><strong>Endereço:</strong> @Model.Endereco</p>
        <p><strong>Endereço:</strong> @Model.TipoEmpresaNome</p>


        <form asp-action="DeleteConfirmado" method="post">
            <input type="hidden" asp-for="Id" />
            <div class="d-flex justify-content-between mt-4">
                <button type="submit" class="btn btn-danger">Excluir</button>
                <a href="@Url.Action("Index")" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>
