@model IEnumerable<GerenciadorDeEmpresaWEB.Models.TipoEmpresaViewModel>

@{
    ViewData["Title"] = "Tipos de Empresas";
}

<h2>@ViewData["Title"]</h2>

<hr />

<div class="row">
    <div class="col-md-12">
        <div class="pull-left">
            <a asp-action="Create" class="btn btn-primary">
                <span title="Criar Empresa" class="fas fa-plus"></span> Adicionar Nova Empresa
            </a>

        </div>
    </div>
</div>

<br />

<div class="panel panel-default">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome </th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var tipoEmpresa in Model)
            {
                <tr>
                    <td>@tipoEmpresa.Id</td>
                    <td>@tipoEmpresa.Nome</td>
                    <td>
                        <a href="@Url.Action("Edit", "TipoEmpresas", new { id = tipoEmpresa.Id })" class="btn btn-warning btn-sm">Editar</a>
                        <a href="@Url.Action("Details", "TipoEmpresas", new { id = tipoEmpresa.Id })" class="btn btn-info btn-sm">Detalhes</a>
                        <a href="@Url.Action("Delete", "TipoEmpresas", new { id = tipoEmpresa.Id })" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>